body {
    background-image: url(../img/ladrillos1.jpg);
    background-size: cover;
}

h1 {
    color: blue;
}
p {
    color: red;
}


.cajaMenuBoton{
	height: 18.75%;
    
    margin-top: 6.25%;
    /* height: 12.5%; */
    min-height: 12.5%;
    text-align: center;
    margin-left: 16%;
    margin-bottom: 0;
    width: 68%;
    border-radius: 1.75em;
	background-image: url(../img/floor_b.jpg);
    background-size: contain;
}
.menu{
	position: relative;
	top:0;
	left: 0;
	height: 100%;
	
}
.btonMenu{
	width: 100%;
	font-size:x-large;
	font-weight: 600;
	color:white;
	position: relative;
	padding-top: 12.5%;
}

.pantalla{	
	position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    height: 93.76%;
    width: 100%;
}

.pantalla-disabled{
	position: absolute; left: 0; top: 0; display: none; margin: 0;
	color: white;

}

/**
Pantallas de Juego
*/
.puntosPartidaActual{
	background-image: url(../img/floor_b.jpg);
    background-size: contain;
        font-size: x-large;
    padding-top: 0.25em;
    margin-bottom: -0.25em;
}
/**
puntos final de partida
*/
.pantalla-puntuaje{
    background: black;
    /* background-image: url(../img/firework.gif); */
    height: 100%;
}
.pantalla-puntuaje img{
    height: 100%;
    z-index: -2;
    width: 100%;
}
#micanvas{
         background-color: #444;   
        }
.mensaje-finPartida{
	position: absolute; 
	left: 0;  
	text-align: center; 
	width: 100%; 
	padding-top: 0.5em; 
	padding-bottom: 0.6em; 
	font-weight: 800;
	font-size: xx-large;
    color: #444;
}
#puntuacionPartida{
    top: 30%; 
}
#levelPartida{    
    top: 40%; 
}
#mensaje{
    top: 50%;
}
.btnBottomLeft{
	    background-image: url(../img/floor_b.jpg);
    position: absolute;
    left: 1%;
    bottom: 1%;
    font-size: x-large;
    padding: 0.75em;
    border-radius: 0.75em;
}
.btnBottomRightInfo{
	background-image: url(../img/floor_b.jpg);
    position: fixed;
    right: 1%;
    bottom: 1%;
    font-size: x-large;
    padding: 0.75em;
    border-radius: 0.75em;
}
.btnBottomRight{
	background-image: url(../img/floor_b.jpg);
    position: absolute;
    right: 1%;
    bottom: 1%;
    font-size: x-large;
    padding: 0.75em;
    border-radius: 0.75em;

}
/*
caja Ranking
*/
.row-ranking{
	width: 100%;
    display: inline-flex;
    height: 7.69%;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    background-color: gray;
    opacity: 0.93;
}
.cell-row-ranking{
	width: 33%;
    text-align: center;
    font-size: x-large;
    height: 15%;
    margin-top: 0.4em;
}
.cell-row-ranking-position{
	margin: 0;
    font-weight: 600;

}
.soyYoRanking{
	margin: 0;
    text-align: center;
    font-size: xx-large;
    opacity: 0.98;
    font-color: red;
    font-size: xx-large;
    background: yellowgreen;
    color: black;
}

/**Option
**/
.seption-Option{
	text-align: center;
	height: 20%;
	font-size: larger;
}

.btnCheck1{
	height: 5em;
        width: 25%;
        margin-left: 35%;
        background-image: url(../img/okicon.png);
        background-size: contain;
        background-repeat: no-repeat;        
}


.btnCheck{
    height: 1.7em;
    width: 1.7em;
    margin-left: 0.25em;
    background-image: url(../img/okicon.png);
    background-size: cover;
   
   
}
.cajaNameOption{
    display: inline-flex;        	
}
#optionNick, #optionNick1{
    text-align: center;
    background-color: aliceblue;
    color: purple;
    font-size: larger;
    margin-left: 15%;

    max-width: 60%;
    border: 0;
    font-weight: bold;
    height: 1.7em;
}
.seption-Option h3{
	font-size: x-large;
	background-image: url(../img/floor_b.jpg);
	padding: 0.5em;
}
.seption-Option span{
	font-size: large;
	font-weight: bold;
	background-image: url(../img/floor_b.jpg);
	border-radius: 55em;
        padding: 0.2em;
}
.seption-Option input[type="checkbox"] {
    display: none;
}

.seption-Option input[type="checkbox"] {
    display: inline-block;
    
		
    width: 36px;
    height: 36px;
    
    vertical-align: middle;
    cursor:pointer;
}
.seption-Option input[type="checkbox"]:checked {
    
}

.boxInstrucciones{
    background: #444;
    padding-top: 1em;
    padding-bottom: 3em;
}
.boxInstrucciones p{ 
    color: white;
}
.letra_pequena {
    font-size: xx-small;
}



.cajaPublicidad{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}